* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: aquamarine;
}

a{
  text-decoration: none;
}

.list-inline{
  list-style: none;
  li{
    display: inline-block;
    height: 20px;
    margin: 5px;
    background-color: red;
    font-size: large;
    &.active{
      background-color: blue;
    }
    &.hover{
      background-color: yellow;
    }
  }
}